{% extends 'base.html' %}

{% block body %}

{% for sub_dinos in dinosaurs | batch(3, None) %}
<div class="card-deck">
    {% for dinosaur in sub_dinos %}
    <div class="card">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ dinosaur.name }}</h4>
        </div>
        <div class="card-body">
            <a href="{{ url_for('dinosaur_detail', id=dinosaur.id) }}" class="btn btn-primary">See {{ dinosaur.name }} details</a>
            <a href="{{ url_for('dinosaur_form', id=dinosaur.id) }}" class="btn btn-dark">Update {{ dinosaur.name }} details</a>
        </div>
    </div>
    {% endfor %}
</div>
<hr />
{% endfor %}
</div>
{% endblock %}