{% extends 'base.html' %}

{% block body %}

<div class="card" >
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ publication.title }}</h4>
    </div>
    <div class="card-body">
        <p class="card-text">
            <em>Created at:</em> {{ publication.created_date }}
            <em>By:</em><a href="{{ url_for('publication', username=publication.user_created.username) }}"> {{publication.user_created.username}}</a>
        </p>
        <p class="card-text"><em>Contenu:</em> {{ publication.body }}</p>
    </div>
</div>
{% endblock %}