{% extends 'base.html' %}

{% block body %}




    {% for sub_pub in object_list | batch(1, None) %}
        <div class="card-deck">
            {% for publication in sub_pub %}
                <div class="card" style="width: 100%">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ publication.title }}</h4>
                        <a href="{{ url_for('publication', username=publication.user_created.username) }}">by {{ publication.user_created.username }}</a>
                    </div>
                    <div class="card-body">
                        <p>{{ publication.body }}</p>
                        <a href="{{ url_for('publications_detail', id=publication.id) }}" class="btn btn-primary">See details</a>
                        {% if publication.user_created.id==session['id'] %}
                            <a href="{{ url_for('publications_form', id=publication.id) }}" class="btn btn-dark">Edit</a>
                
                            <a id="{{ publication.id }}" style="float:right;" onclick="delete_confirm(this)"><img width=30px height=30px src="{{ url_for('static', filename='img/poubelle.png') }}"/></a>
                    
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr />
    {% endfor %}

{% if page > 1 %}
  <a href=".?page={{ page - 1 }}"  class="btn btn-primary" class="btn btn-dark">Prev</a>
{% endif %}
{% if pagination.get_page_count() > page  %}
  <a href=".?page={{ page + 1 }}" style="float:right;" class="btn btn-dark" >Next</a>
{% endif %}
</div>
<script>
    function delete_confirm(el){
        var resp= confirm("Do you want to delete this ?");
        if (resp== true){
            var id=el.id
            window.location.href = "/Publication/delete/"+id;
        }
    }
</script>
{% endblock %}