<!--{% extends 'base.html' %}

{% block body %}

{% for sub_species in species | batch(3, None) %}
<div class="card-deck">
    {% for specie in sub_species %}
    <div class="card">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ specie.name }}  - ({{ specie.name_meaning }})</h4>
        </div>
        <div class="card-body">
            <p class="card-text">See all models version below</p>
        </div>
        <ul class="list-group list-group-flush">
            {% for model in specie.models %}
            <li class="list-group-item">v. {{ model.version }}</li>
                <ul>
                    {% for dinosaur in model.dinosaurs %}
                        <li>
                            <a href="{{ url_for('dinosaur_detail', id=dinosaur.id) }}">{{ dinosaur.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
          </ul>
    </div>
    {% endfor %}
</div>
<hr />
{% endfor %}
</div>
{% endblock %}-->