<!--{% extends 'base.html' %}

{% block body %}

<div class="card">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ dinosaur.name }}</h4>
    </div>
    <div class="card-body">
        <p class="card-text"><em>Birthday:</em> {{ dinosaur.birthday.strftime('%d/%m/%Y') }}</p>
        <p class="card-text"><em>Created at:</em> {{ dinosaur.created_at.strftime('%d/%m/%Y') }}</p>
        <p class="card-text"><em>Model:</em> {{ dinosaur.model.version }}</p>
        <p class="card-text"><em>Specie:</em> {{ dinosaur.model.specie.name }} ({{ dinosaur.model.specie.name_meaning }})</p>
    </div>
</div>
{% endblock %}-->